.kee-button {
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.kee-button--primary {
    color: white;
    background-color: #74a0fa;
}

.kee-button--secondary {
    color: #333;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.kee-button--small {
  font-size: 12px;
  padding: 7.5px 22.5px;
}

.kee-button--medium {
  font-size: 15px;
  padding: 10px 30px;
}

.kee-button--large {
  font-size: 17.5px;
  padding: 12.5px 37.5px;
}

.kee-button:disabled {
    opacity: 60%;
    cursor: not-allowed;
}

.kee-button--success {
    color: black;
    background-color: #b4e8a7;
}

.kee-button--warning {
    color: black;
    background-color: #edd48a;
}

.kee-button--danger {
    color: white;
    background-color: #910101;
}